<div id="app" class="container p-3">
    <div v-if="!jobId">
        <div class="w-100 text-center my-3">
            <img src="/logo.png" alt="Insightic Logo" style="width: 60px; height: 60px;">
            <h2>Contract Diff</h2>
            <div class="w-100 mx-auto" style="max-width: 720px;">Contract Diff is a tool utilized for cross-validation
                and
                examination of whitepapers and smart contracts.
                By scrutinizing the whitepaper and smart contract, Contract Diff possesses the ability to uncover
                disparities between them and provide appropriate warnings.</div>
        </div>

        <div class="w-100 text-center mx-auto my-3 border rounded p-3" style="max-width: 640px;">
            <h3>Step 1</h3>
            <div class="w-100 my-2 mx-auto">Upload whitepaper</div>
            <div class="w-100 my-2 mx-auto" style="max-width: 320px;">
                <input class="form-control" type="file" @change="onWhitepaperPicked">
            </div>
        </div>

        <div class="w-100 text-center mx-auto my-3 border rounded p-3" style="max-width: 640px;">
            <h3>Step 2</h3>
            <div class="w-100 my-2 mx-auto">Upload Smart Contract code</div>
            <div class="w-100 my-2 mx-auto" style="max-width: 320px;">
                <input class="form-control" type="file" @change="onCodePicked">
            </div>
        </div>

        <div class="w-100 text-center my-3">
            <button class="btn btn-lg btn-danger text-center" style="width: 200px;" @click="submit()"
                :disabled="loading">
                <div v-if="!loading" class="mx-auto d-block">Show Me Risks!</div>
                <div v-else class="mx-auto d-block spinner-border">
                </div>
            </button>
        </div>
    </div>

    <div v-else>
        <div class="w-100 text-center my-3">
            <img src="/logo.png" alt="Insightic Logo" style="width: 60px; height: 60px;">
            <h2>Contract Diff - Results</h2>
            <div>Job ID: <span>{{ jobId }}</span></div>
        </div>

        <div class="w-100 my-3 mx-auto" style="max-width: 720px;">
            <table class="table">
                <thead class="table-dark">
                    <th width="30%">Description</th>
                    <th width="30%">Whitepaper</th>
                    <th width="30%">Code</th>
                </thead>
                <tbody v-for="result in results" :key="result.id">
                    <tr>
                        <td>{{ result.description }}</td>
                        <td>{{ result.whitepaper }}</td>
                        <td>{{ result.code }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="w-100 text-center my-3">
            <a class="btn btn-lg btn-primary text-center" style="width: 200px;" type="button" href="/contract-diff">
                Try again
            </a>
        </div>
    </div>
</div>

<script>
    (async function () {
        const { createApp, defineComponent, onMounted, ref } = Vue

        createApp({
            created() {
                if (!this.jobId) return;

                const refreshInterval = setInterval(async () => {
                    const resp = await axios.get(`https://validation-api.insightic.io/jobs/${this.jobId}`);
                    this.results = resp.data.results.sort((a, b) => a.id - b.id);
                    if (resp.data.status === 'accepted') clearInterval(refreshInterval);
                }, 3000);
            },
            data() {
                return {
                    loading: false,
                    whitepaperFile: null,
                    codeFile: null,
                    results: []
                }
            },
            computed: {
                jobId() {
                    return new URL(window.location.href).searchParams.get('jobId')
                }
            },
            methods: {
                onWhitepaperPicked(evt) {
                    this.whitepaperFile = evt.target.files[0];
                },
                onCodePicked(evt) {
                    this.codeFile = evt.target.files[0];
                },
                async submit() {
                    if (!this.whitepaperFile || !this.codeFile) {
                        alert('You have choose both Whitepaper and Code!');
                        return;
                    }

                    this.loading = true;
                    const whitepaperObjectId = await window.uploadFile(this.whitepaperFile);
                    const codeObjectId = await window.uploadFile(this.codeFile);

                    const resp = await axios.post('https://validation-api.insightic.io/jobs', {
                        whitepaper_id: whitepaperObjectId,
                        code_id: codeObjectId
                    });

                    const jobId = resp.data.guid;
                    window.location.href = `/contract-diff?jobId=${jobId}`;
                }
            }
        }).mount('#app');
    })();
</script>