<div class="w-100"
    style="background-image: url('/public/img/background.jpg'); background-size: cover; background-position: center;">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="text-center my-5 p-5 rounded"
                    style="background-color: rgba(255, 255, 255, 0.9); backdrop-filter: blur(5px); max-width: 480px;">
                    <div class="mx-auto" style="max-width: 300px;">
                        <div>
                            "…government agencies to sharpen
                            regulatory clarity in order to punish bad
                            actors and take a more involved stance in
                            the development of the industry."
                        </div>

                        <div class="mt-4"><strong>Alvin Chia</strong></div>
                        <div class="text-secondary"><small>Senior VP, Head of Digital Assets Innovation</small></div>
                        <div class="text-secondary"><small>(APAC) at Northern Trust</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>