<div class="w-100" style="background-color: #E5E5E5;">
    <div class="container p-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="public/img/feature3.png" style="width: 100%; max-width: 726px;">
            </div>
            <div class="col-md-6">
                <div class="h3">Risk Assessment Dashboard</div>
                <div style="width: 100%; max-width: 400px;">
                    Insightic's comprehensive analysis and continuous
                    monitoring covers 150+ risk factors. Patent pending graph analytics tools are used in fraud
                    detection, tokenomics, and DAO assessment frameworks. Remediate actions are
                    recommended for risks identified.
                </div>
            </div>
        </div>
    </div>
</div>