<div class="w-100" style="background-color: #E5E5E5;">
    <div class="container p-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="public/img/feature1.png" style="width: 100%; max-width: 726px;">
            </div>
            <div class="col-md-6">
                <div class="h3">Regulatory Pre-Assessment</div>
                <div style="width: 100%; max-width: 400px;">
                    Insightic helps regulatory bodies to collect data from
                    on-chain and off-chain data sources for auto-assessment,
                    with real-time feedback, using executable rules generated
                    by AI and defined by users.
                </div>
            </div>
        </div>
    </div>
</div>
