<div class="w-100" style="background-color: #E5E5E5;">
    <div class="container p-5">
        <div class="row align-items-center">
            <div class="col-md-6 my-2">
                <img src="/public/img/feature1.png" style="width: 100%; max-width: 726px;">
            </div>
            <div class="col-md-6 my-2">
                <div class="h3">Pre-Assessment</div>
                <div class="my-3" style="width: 100%; max-width: 400px;">
                    Preliminary assessment of virtual asset service providers, drastically reducing manual due diligence
                    efforts.
                    <br /><br />
                    Leveraging on-chain background checks and a unique de-anonymization technique, it offers deep
                    insights and thorough screening
                </div>
                <div><a type="btn" class="btn btn-outline-primary my-3" href="/pre-assessment">Try Now!</a></div>
            </div>
        </div>
    </div>
</div>