<div class="w-100">
    <div class="container p-5">
        <div class="row align-items-center">
            <div class="col-md-6 my-2">
                <div class="h3">Software Code validation</div>
                <div style="width: 100%; max-width: 400px;">
                    Insightic performs evidence-based suitability assessment for smart contracts, including code
                    similarity analysis. Also using AI to validating
                    business claims and regulatory rules with code implementations.
                </div>
            </div>
            <div class="col-md-6 my-2">
                <img src="public/img/feature2.png" style="width: 100%; max-width: 726px;">
            </div>
        </div>
    </div>
</div>