<div class="w-100">
    <div class="container p-5">
        <div class="row align-items-center">
            <div class="col-md-6 my-2 order-1">
                <div class="h3">Smart Contract Validator</div>
                <div class="my-3" style="width: 100%; max-width: 400px;">
                    Smart contract code suitability assessment including code similarity analysis, automatically
                    validates business claims against code implementation.
                </div>
                <div><a type="btn" class="btn btn-outline-primary my-3" href="/smart-contract-validator">Try Now!</a></div>
            </div>
            <div class="col-md-6 my-2 order-md-1">
                <img src="/public/img/code-validator.png" style="width: 100%; max-width: 726px;">
            </div>
        </div>
    </div>
</div>