<div class="w-100 background-image"
    style="background-image: url('/public/img/nus-erc.jpg'); background-size: conver; background-position: 50% calc(50% - 200px); aspect-ratio: 21/9; max-height: 420px; ">
    <div class="container p-5 text-center">
        <div class="mx-auto">
            <div class="mx-auto text-center my-5 p-5 rounded w-100"
                style="background-color: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px); max-width: 960px;">
                <!-- <div class="mx-auto" style="max-width: 300px;">
                    <div>
                        "…government agencies to sharpen
                        regulatory clarity in order to punish bad
                        actors and take a more involved stance in
                        the development of the industry."
                    </div>

                    <div class="mt-4"><h5>insightic Partner</h5></div>
                    <div class="text-secondary"><small>Senior VP</small></div>
                </div> -->
                <div>
                    <div class="row">
                        <div class="col-md-5 my-2">
                            <h3 class="mb-3">World-Leading Research</h3>
                            <div>300 Publications, 13895 citations</div>
                            <div>50+ papers on Graph Processing & Analytics</div>
                            <div>40+ papers on Machine Learning (Federated Learning), with 2000 citations</div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5 my-2">
                            <h3 class="mb-3">Awards</h3>
                            <div>1st Runner up of AI & GPT Application Innovation Challenge Hackathon 2023</div>
                            <div>1st Runner up of Singapore Blockchain Innovation Challenge 2022 (enthusiastic track)
                            </div>
                            <div>1st Runner up of Zhuhai ChiefData Lab Startup Competition, 2018</div>
                        </div>
                    </div>

                    <div class="w-100 mt-5">
                        <h3>Supported by</h3>
                        <div class="p-3 rounded mx-auto" style="width: 320px; background-color: white;">
                            <img src="/public/img/aidf-logo.png" style="width: 100%;" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>