<div class="w-100" style="background-color: #E5E5E5;">
    <div class="container p-5">
        <div class="row align-items-center">
            <div class="col-md-6 my-2">
                <img src="/public/img/feature3.jpeg" style="width: 100%; max-width: 726px;">
            </div>
            <div class="col-md-6 my-2">
                <div class="h3">Risk Assessment</div>
                <div class="my-3" style="width: 100%; max-width: 400px;">
                    Comprehensive analysis and continuous monitoring covers 150+ risk factors , Patent pending graph
                    analytics tools are used in fraud detection, tokenomic, and DAO assessment frameworks. Remediate
                    actions are recommended for risk identified.
                </div>
                <div><a type="btn" class="btn btn-outline-primary my-3" href="/risk-assessment">Try Now!</a></div>
            </div>
        </div>
    </div>
</div>