<div class="w-100 container-fluid" style="width: 100%; background-color: #CEEAF7;">
    <div class="mx-auto p-5" style="max-width: 1080px;">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="mb-5">
                    <div class="h1 mb-4">WEB3 COMPLIANCE MADE EASY.</div>
                    <div>For investors, policymaker/auditors, and virtual asset
                        service providers who want to manage regulatory compliance,
                        business operation, and benchmarking industry standards for Web3 projects.
                    </div>
                </div>

                <h5 class="my-3"><i class="bi bi-play-circle me-2"></i>Insightic in 90 secs.</h5>
                <div class="my-3"><button type="button" class="btn btn-primary">CONTACT US</button></div>
            </div>
            <div class="col-md-6">
                <iframe style="width: 100%; aspect-ratio: 16/9;" src="https://www.youtube.com/embed/BlI9PVQA8ZA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>