<div class="w-100 container-fluid text-light d-flex flex-column justify-content-center background-image" style="
    min-height: 600px;
    background-color: rgb(6, 6, 6);
    background-image: url('/public/img/hero.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(50% - 300px) 50%;
  ">
    <div class="container" style="z-index: 1000;">
        <div class="mx-auto p-5" style="max-width: 1440px">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- <iframe style="width: 100%; aspect-ratio: 16/9;" src="https://www.youtube.com/embed/Z42TsWX6M34"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe> -->
                </div>
                <div class="col-lg-6">
                    <div class="mb-5">
                        <div class="h1" style="font-size: 3rem;">
                            AI Agent-Enabled Compliance Solution for Digital Asset Innovation
                        </div>
                    </div>

                    <div class="h5">
                        For investors, policy makers, auditors, and virtual asset service
                        providers.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>