<div class="w-100 p-5">
    <div class="text-center mx-auto">Trusted by partners and companies around the globe</div>
    <div class="d-flex justify-content-between">
        <img style="width: 256px;" src="public/img/aidf-logo.png">
        <img style="width: 256px;" src="public/img/adgm-logo.webp">
        <img style="width: 256px;" src="public/img/northern-trust-logo.png">
        <img style="width: 256px;" src="public/img/lbank-labs-logo.webp">
    </div>

    <div class="text-center mx-auto" style="max-width: 720px;">
        <div>Enable Digital Asset Innovation in Web3 with themost comprehensive and easy-to-use platform</div>
        <div>Insightic leverages AI to provide comprehensive, efficient tools for assessing and monitoring Web3
            projects, reducing costs and streamlining decision-making in the regulatory landscape.</div>
    </div>

    <div class="row">
        <div class="col-md-4">Evidence-based assessment convering over 150 risk factors</div>
        <div class="col-md-4">Risk assessment framework co- created with regulators</div>
        <div class="col-md-4">AI-powered analysis for streamlined compliance tracking</div>
    </div>
</div>