<div class="w-100 p-5">
    <div class="text-center mx-auto">Trusted by partners and companies around the globe</div>
    <div class="text-center mx-auto my-5">
        <img style="width: 168px;" class="mx-4 my-2" src="/public/img/aidf-logo.png">
<!--         <img style="width: 168px;" class="mx-4 my-2" src="/public/img/adgm-logo.webp"> -->
<!--         <img style="width: 168px;" class="mx-4 my-2" src="/public/img/northern-trust-logo.png"> -->
<!--         <img style="width: 168px;" class="mx-4 my-2" src="/public/img/lbank-labs-logo.webp"> -->
    </div>

    <div class="w-100 text-center mx-auto my-4" style="max-width: 640px;">
        <div class="my-4 h3">
            Enable Digital Asset Innovation in Web3 with themost comprehensive and easy-to-use platform
        </div>
        <div class="my-4">Insightic leverages AI to provide comprehensive, efficient tools for assessing and monitoring
            Web3
            projects, reducing costs and streamlining decision-making in the regulatory landscape.</div>
    </div>

    <div class="row mx-auto my-4" style="max-width: 728px;">
        <div class="col-md-4 d-flex align-items-center my-2">
            <div class="me-3"><i class="bi bi-check-circle-fill text-success" style="font-size: 1.5rem;"></i></div>
            <div>
                Evidence-based assessment convering over 150 risk factors
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center my-2">
            <div class="me-3"><i class="bi bi-check-circle-fill text-success" style="font-size: 1.5rem;"></i></div>
            Risk assessment framework co- created with regulators
        </div>
        <div class="col-md-4 d-flex align-items-center my-2">
            <div class="me-3"><i class="bi bi-check-circle-fill text-success" style="font-size: 1.5rem;"></i></div>
            <div>AI-powered analysis for streamlined compliance tracking</div>
        </div>
    </div>
</div>
