<div class="container w-100 p-5" style="max-width: 960px">
    <div class="text-center mx-auto h5 mb-5" style="max-width: 640px">
        Insightic leverages AI to provide comprehensive, efficient tools for
        assessing and monitoring Web3 projects, reducing costs and streamlining
        decision-making.
    </div>
    <div class="row">
        <div class="col-md-4 p-2">
            <div class="p-4 h-100" style="border-radius: 20px; background-color: rgb(218, 227, 243)">
                <div class="text-center mb-4 w-100" style="height: 128px;">
                    <div class="mx-auto rounded mb-2" style="width: 54px; height: 54px; padding: 8px;">
                        <div class="w-100 h-100" style="
                            background-image: url('/public/img/evidence-based-icon.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;">
                        </div>
                    </div>
                    <div style="font-weight: 600;">Evidence-based Assessment</div>
                </div>

                <div>
                    Our evidence-based assessment tool employs on-chain analytics and our
                    proprietary de-anonymization technique, analyzing over 150 risk
                    factors to offer precise evaluations of Web3 projects swiftly and
                    effectively.
                </div>
            </div>
        </div>

        <div class="col-md-4 p-2">
            <div class="p-4 h-100" style="border-radius: 20px; background-color: rgb(218, 227, 243)">
                <div class="text-center mb-4 w-100" style="height: 128px;">
                    <div class="mx-auto rounded mb-2" style="width: 54px; height: 54px; padding: 4px;">
                        <div class="w-100 h-100" style="
                            background-image: url('/public/img/partnership-icon.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;">
                        </div>
                    </div>
                    <div style="font-weight: 600;">Jointly Created with Policymakers and Financial Institutions</div>
                </div>

                <div>
                    Designed with input from policymakers and financial institutions,
                    blending Web3 native insights with institutional expertise. This
                    collaboration fosters deep understanding of the risks and
                    opportunities in the Web3 landscape.
                </div>
            </div>
        </div>

        <div class="col-md-4 p-2">
            <div class="p-4 h-100" style="border-radius: 20px; background-color: rgb(218, 227, 243)">
                <div class="text-center mb-4 w-100" style="height: 128px;">
                    <div class="mx-auto rounded mb-2" style="width: 54px; height: 54px; padding: 6px;">
                        <div class="w-100 h-100" style="
                            background-image: url('/public/img/ai-icon.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;">
                        </div>
                    </div>
                    <div style="font-weight: 600;">AI-powered Analysis</div>
                </div>

                <div>
                    Built on decades of world-leading research, our AI-powered analysis
                    facilitates in-depth understanding of Web3 projects, helping
                    stakeholders to make informed and confident decisions with precision.
                </div>
            </div>
        </div>
    </div>
</div>