{{ define "content" }}

{{ partial "hero.html" (dict "HeroTitle" "Get in Touch" "HeroDescription" `Sometimes you need a little help from your
friends. Or a Insightic support rep. Don't worry, we're here for you.`) }}

<div class="container my-5">
    <div class="w-100 text-center my-3">
        <div style="font-size: 3rem;">Offices</div>
    </div>

    {{ range .Site.Params.offices }}
    <div class="row align-items-center my-3">
        <div class="col-md-6 my-2 text-center">
            <img class="rounded" src="{{ .map }}" style="height: 320px;">
        </div>
        <div class="col-md-6 my-2">
            <div class="h1">{{ .country }}</div>
            <div class="my-3">
                <div class="h5">Address</div>
                <div>{{ .address }}</div>
            </div>

            <div class="my-3">
                <div class="h5">Phone</div>
                <div>{{ .phone }}</div>
            </div>

            <div class="my-3">
                <div class="h5">Email</div>
                <div>{{ .email }}</div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<div class="horizontal-line"></div>

<div class="container my-5">
    <div class="w-100 text-center my-3">
        <div style="font-size: 3rem;">Leave a message</div>
        <div>Leave us a message and our team member will contact you shortly.</div>
    </div>
    <form class="mx-auto my-5" style="max-width: 640px;">
        <div class="row">
            <div class="col-md-6 my-2">
                <div class="form-group">
                    <label>
                        <span>Your Name</span> *
                    </label>
                    <input id="name" name="contact-name" type="text" class="form-control" required="">
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group">
                    <label>
                        <span>Email Address</span> *
                    </label>
                    <input id="email" name="contact-email" type="email" class="form-control" required="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my-2">
                <div class="form-group">
                    <label>
                        <span>Company Name</span> *
                    </label>
                    <input id="company" name="contact-company" type="text" class="form-control" required="">
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group">
                    <label>
                        <span>Contact Number</span> *
                    </label>
                    <input id="number" name="contact-number" type="text" class="form-control" required="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 my-2">
                <div class="form-group">
                    <label>
                        <span>Message</span>
                    </label>
                    <textarea id="message" class="form-control" name="contact-message" rows="10"
                        placeholder="How can we help?" required=""></textarea>
                </div>
            </div>
        </div>
        <div class="text-center my-3">
            <button class="btn btn-lg btn-primary">Send Enquiry</button>
        </div>
    </form>
</div>
{{ end }}