<html>

<head>
    <title>Insightic</title>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "navbar.html" . }}

    <div class="w-100 background-image" style="
        aspect-ratio: 21/9; 
        min-height: 300px; 
        max-height: 560px;
        background-image: url('/public/img/contact-us.jpg');
        ">
        <div class="container d-flex align-items-center h-100 text-white">
            <div class="w-100" style="max-width: 500px">
                <div style="font-size: 4rem;"><strong>Get in Touch</strong></div>
                <div style="font-size: 1.2rem;">Sometimes you need a little help from your friends. Or a Insightic
                    support rep. Don't worry… we're
                    here for you.</div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" .}}
    {{ partial "foot.html" }}
</body>

</html>