<nav class="navbar navbar-expand-lg navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div style="
            border: 0px solid white;
            border-radius: 4px;
            padding: 5px;
            background-color: white;
            background-image: url('/logo.png');
            background-size: cover;
            width: 30px;
            height: 30px;
          " class="d-inline-block align-top"></div>
            <span class="ms-2">Insightic</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="me-auto"></div>
            <ul class="navbar-nav me-2">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Solutions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/pre-assessment">Pre-assessment</a></li>
                        <li><a class="dropdown-item" href="/smart-contract-validator">Smart Contract Validator</a></li>
                        <li><a class="dropdown-item" href="/risk-assessment">Risk Assessment</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/verified-auditors">Verified Auditors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a href="/contact-us" type="button" class="btn btn-outline-primary">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
